.footer-wrapper {
  position: sticky;
  bottom:0;
}

.footer {
  background: #ff6f5e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0px 50px;
  color: #d13625;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #ce1c0c;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.15;
}
.footer .fa-heart {
  color: #D23333;
}
