h3 {
  font-style: italic;
  color: red;
  letter-spacing: 1px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.main-content {
  min-height: calc(100vh - 75px);
}

.large-margin-top {
  margin-top:100px;
}

.large-margin-bottom {
  margin-bootom:100px;
}

.description {
  border-radius:10px;
  align-items:center;
  border-radius:4px;
  width:45%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.ingredient-list {
  padding-right:30px;
  border-radius:10px;
  width:30%;
}

.ingredient-name {
  padding-left:15px;
}

.delete-icon {
  position: absolute;
  right: 0;
  i {
    color:#ff6f5e;
    font-size:20px;
  }
}

.ingredient {
  display:flex;
  position: relative;
}

.card-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:30px;
  padding:0px 200px;
}

.cocktail_grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:30px;
  padding:0px 200px;
}

.cocktail-info {
  border-radius:15px;
  display:flex;
  justify-content:space-between;
  width:800px;
  height:400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.slides {
  width:500px;
}
